.bar {
    background: #4286f4;
    color: white;
    display: flex;
    justify-content: space-between;
}

.bar div {
    align-self: center;
    margin: 10px;
}

.bar a {
    color: white;
    margin: 5px;
}