.button {
   border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}

.button.blue {
    background: #4286f4;
    color: white;    
}

.button.white {
    background: white;
    color: #4286f4;
    border: 1px solid #4286f4;
}