
.name{
    border: 1px solid rgb(107, 22, 22);
    border-radius: 5px;
    padding: 3px;
    display: flex;
    margin: 5px;
    position: absolute;
    top: 40px;
    bottom: 88%;
    right: 30%;
    left : 50%;

}
.secondname{
    border: 1px solid rgb(107, 22, 22);
    border-radius: 5px;
    padding: 3px;
    display: block;
    margin: 5px;
    position: absolute;
    top: 40px;
    bottom: 88%;
    right: 10%;
    left : 70%;
};

