.button{
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
    background: #4286f4;
    position: absolute;
    top: 80px;
    right: 10%;
    left: 70%;
}
.statusField{
    position: absolute;
    top: 80px;
    right: 30%;
    left: 50%;
}